@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
.message {
    margin: 13px 0 0;
    color: black;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.message a {
    font-size: 16px;
    color: rgb(198, 230, 243);
    font-weight: bolder;
}