@charset "UTF-8";
@import url(https://use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css);
@font-face {
 font-family:FontAwesome;
 src:url(https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot);
 src:url(https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix) format('embedded-opentype'),
 url(https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2) format('woff2'),
 url(https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff) format('woff'),
 url(https:/use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf) format('truetype'),
 url(https://use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular) format('svg');
 font-weight:400;
 font-style:normal
}

:root {
 --blue:#007bff;
 --indigo:#6610f2;
 --purple:#6f42c1;
 --pink:#e83e8c;
 --red:#dc3545;
 --orange:#fd7e14;
 --yellow:#ffc107;
 --green:#28a745;
 --teal:#20c997;
 --cyan:#17a2b8;
 --white:#fff;
 --gray:#6c757d;
 --gray-dark:#343a40;
 --primary:#007bff;
 --secondary:#6c757d;
 --success:#28a745;
 --info:#17a2b8;
 --warning:#ffc107;
 --danger:#dc3545;
 --light:#f8f9fa;
 --dark:#343a40;
 --breakpoint-xs:0;
 --breakpoint-sm:576px;
 --breakpoint-md:768px;
 --breakpoint-lg:992px;
 --breakpoint-xl:1200px;
 --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

*,
::after,
::before {
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}

html {
 font-family:sans-serif;
 line-height:1.15;
 -webkit-text-size-adjust:100%;
 -webkit-tap-highlight-color:rgba(0,0,0,0)
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
 display:block
}

body {
 margin:0;
 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 font-size:1rem;
 font-weight:400;
 line-height:1.5;
 color:#212529;
 text-align:left;
 background-color:#fff
}

[tabindex="-1"]:focus {
 outline:0!important
}

hr {
 -webkit-box-sizing:content-box;
 box-sizing:content-box;
 height:0;
 overflow:visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
 margin-top:0;
 margin-bottom:.5rem
}

p {
 margin-top:0;
 margin-bottom:1rem
}

b,
strong {
 font-weight:bolder
}

a {
 color:#007bff;
 text-decoration:none;
 background-color:transparent
}

a:hover {
 color:#0056b3;
 text-decoration:underline
}

a:not([href]):not([tabindex]) {
 color:inherit;
 text-decoration:none
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
 color:inherit;
 text-decoration:none
}

a:not([href]):not([tabindex]):focus {
 outline:0
}

button {
 border-radius:0
}

button:focus {
 outline:1px dotted;
 outline:5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
 margin:0;
 font-family:inherit;
 font-size:inherit;
 line-height:inherit
}

button,
input {
 overflow:visible
}

button,
select {
 text-transform:none
}

select {
 word-wrap:normal
}

button {
 -webkit-appearance:button
}

[type=button]::-moz-focus-inner
button::-moz-focus-inner {
 padding:0;
 border-style:none
}

hr {
 margin-top:1rem;
 margin-bottom:1rem;
 border:0;
 border-top:1px solid rgba(0,0,0,.1)
}

a>code {
 color:inherit
}

.container {
 width:100%;
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}

@media (min-width:576px) {
 .container {
  max-width:540px
 }
}

@media (min-width:768px) {
 .container {
  max-width:720px
 }
}

@media (min-width:992px) {
 .container {
  max-width:960px
 }
}

@media (min-width:1200px) {
 .container {
  max-width:1140px
 }
}

.container-fluid {
 width:100%;
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}

.row {
 display:-ms-flexbox;
 display:-webkit-box;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 margin-right:-15px;
 margin-left:-15px
}

.col-lg-4, .col-lg-auto {
 position:relative;
 width:100%;
 padding-right:15px;
 padding-left:15px
}

.col {
 -ms-flex-preferred-size:0;
 flex-basis:0;
 -ms-flex-positive:1;
 -webkit-box-flex:1;
 flex-grow:1;
 max-width:100%
}

 .col-lg-auto {
  -ms-flex:0 0 auto;
  -webkit-box-flex:0;
  flex:0 0 auto;
  width:auto;
  max-width:100%
 }

 .col-lg-4 {
  -ms-flex:0 0 33.333333%;
  -webkit-box-flex:0;
  flex:0 0 33.333333%;
  max-width:33.333333%
 }

 .gym-city {
 min-width:320px;
 font-family:"Source Sans Pro",sans-serif;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 min-height:100vh
}

.gym-city a {
 -webkit-transition:all .5s;
 -o-transition:all .5s;
 transition:all .5s
}

.gym-city a:focus {
 outline:0
}

.gym-city .page-header {
 background-size:cover;
 background-attachment:scroll;
 position:relative;
 padding:60px 0 0;
 text-align:center;
 height:320px;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center
}

@media (min-width:768px) {
 .gym-city .page-header {
  background-attachment:fixed
 }
}

@media (min-width:992px) {
 .gym-city .page-header {
  padding:105px 0 0
 }
}

.gym-city .page-header h1 {
 max-width:1140px;
 position:relative;
 color:#fff;
 font-size:36px;
 font-family:"Julius Sans One",sans-serif;
 text-transform:uppercase;
 padding:4px 15px 0
}

@media (min-width:768px) {
 .gym-city .page-header h1 {
  font-size:48px;
  padding-left:0;
  padding-right:0
 }
}

.gym-city .bg-darken:before {
 content:'';
 position:absolute;
 top:0;
 bottom:0;
 right:0;
 left:0;
 background:rgba(0,0,0,.5)
}

.gym-city .bg-darken .container {
 position:relative
}

.gym-city .content-block {
 padding:70px 0
}

@media (min-width:768px) {
 .gym-city .content-block {
  padding:105px 0
 }
}

.gym-city .content-block-text {
 padding:61px 0
}

.gym-city .top-text {
 color:#3d3d3d;
 font-weight:300;
 font-size:21px;
 line-height:36px;
 margin-bottom:48px;
 text-align:center
}

.gym-city h2 {
 font-family:"Julius Sans One",sans-serif;
 font-weight:500;
 font-size:28px;
 text-transform:uppercase;
 margin-bottom:30px;
 text-align:center;
 color:#3d3d3d
}
@media (min-width:768px) {
 .gym-city h2 {
  margin-bottom:38px;
  font-size:32px
 }
}

.btn {
    display:inline-block;
    font-weight:400;
    color:#212529;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out
   }

   @media (prefers-reduced-motion:reduce) {
    .btn {
     -webkit-transition:none;
     -o-transition:none;
     transition:none
    }
   }
   
   .btn:hover {
    color:#212529;
    text-decoration:none
   }

   .gym-city .btn {
    padding:10px 0;
    border-radius:0;
    font-size:14px;
    line-height:22px
   }
   .gym-city .btn:focus {
    -webkit-box-shadow:none;
    box-shadow:none
   }
   .gym-city .btn-full-width {
    width:100%
   }
   .gym-city .btn-default {
    background-color:#fff;
    border:1px solid #ccc;
    color:#3d3d3d
   }

.gym-city a {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.gym-city .btn-default:active,
.gym-city .btn-default:hover,
.gym-city .btn-default:not(:disabled):not(.disabled).active,
.gym-city .btn-default:not(:disabled):not(.disabled):active {
 background:#db0a0a;
 border-color:#db0a0a;
 color:#fff
}

.gym-city .membership-header {
 background-image:url(../images/members.jpg)
}

.gym-city .options-list {
 margin-bottom:50px
}

.gym-city .options-list+h2 {
 padding-top:34px
}

.gym-city .options-list .options-list-col {
 margin-bottom:15px
}

@media (min-width:992px) {
 .gym-city .options-list .options-list-col {
  margin-bottom:0
 }
}

.gym-city .options-list .star-note {
 font-size:13px;
 color:#7f7f7f;
 padding-top:8px
}

.gym-city .price-option {
 border-radius:0;
 overflow:hidden;
 text-align:center;
 height:100%;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 border:1px solid #d8e3eb
}

.gym-city .price-option-name {
 font-size:16px;
 font-weight:400;
 line-height:1;
 text-transform:uppercase;
 padding:24px;
 background:#fff;
 color:#3d3d3d;
 margin-bottom:0;
 border-bottom:1px solid rgb(0, 190, 57);
 letter-spacing:1.5px
}

.gym-city .price-option-main {
 -webkit-box-flex:1;
 -ms-flex:1 0 auto;
 flex:1 0 auto;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 padding:50px 30px;
 margin-bottom:15px
}

@media (min-width:768px) {
 .gym-city .price-option-main {
  margin-bottom:0
 }
}

.gym-city .price-value {
 margin:0 0 40px;
 font-size:70px;
 padding-left:12px;
 font-weight:300;
 white-space:nowrap
}

.gym-city .price-currency {
 font-size:30px;
 font-weight:400;
 padding-right:5px
}

.gym-city .pricing-desc {
 color:#7f7f7f;
 font-size:14px;
 font-weight:400;
 line-height:24px
}

.gym-city .price-option-features {
 -webkit-box-flex:1;
 -ms-flex:1 0 auto;
 flex:1 0 auto;
 min-height:150px;
 margin:0 0 12px;
 text-align:left;
 width:100%
}

.gym-city .price-option-features p {
 padding-bottom:15px;
 line-height:1.4;
 color:#3d3d3d;
 margin-bottom:0;
 padding-left:25px;
 position:relative
}

.gym-city .price-option-features p .fa {
 color:#55a440;
 position:absolute;
 top:3px;
 left:0
}

.gym-city .description-text {
 padding-bottom:15px;
 line-height:1.4;
 color:#3d3d3d;
 margin-bottom:12px;
 text-align:center;
 -webkit-box-flex:1;
 -ms-flex:1 0 auto;
 flex:1 0 auto;
 width:100%
}

