 body {
    height: 100vh; 
    background-color: inherit;
    background-image: url("../images/man-on-treadmill-1954524.jpg");
    background-size: cover;
 }
 
 .form {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #d1ccc0;
    opacity: 0.80;
    transform: translate(-50%, -50%);
 }
 
 form {
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 7px 5px #00000066;
 }
 
 form .username, form .email, form .password, form .sign-up {
    width: 300px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 4px;
    overflow: hidden;
 }
 
 form .left {
    float: left;
    width: 50px;
    height: 60px;
    background-color: #40407a;
    text-align: center;
    line-height: 55px;
    color: #f7f1e377;
 }
 
 form .right {
    float: left;
    width: 250px;
    height: 60px;
 }
 
 form .right input {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: none;
    background: white;
    opacity: 0.40;
    outline: none;
    padding: 0 15px;
    color: #d1ccc0;
    font-size: 18px;
    transition: background .2s linear;
 }
 
 form .right input:hover, 
 form .right input:focus {
    background-color: #474787;
 }
 
 form input::placeholder {
    color:black;
 }
 
 form .sign-up input {
    width: 100%;
    height: 100%;
    background: #40407a ;
    border: none;
    outline: none;
    cursor: pointer;
    color: #d1ccc0;
    font-size: 18px;
    transition: background .2s linear;
 }
 
 form .sign-up input:hover {
    background: rgb(211, 125, 125);
 }